# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/

# 忽略 .vscode 目录下的所有文件
.vscode/*

# 但不忽略特定的文件
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json